@import url('https://fonts.googleapis.com/css?family=Montserrat');



.title{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 0.5px solid green;
    font-size: 25px;
    padding: 25px 0px;
}

form section fieldset{
    font-family: 'Montserrat', sans-serif;
    padding-bottom:20px;
}

form section button{
    padding: 10px 10px;
}

table{
    font-family: 'Montserrat', sans-serif;
}